@import url('https://fonts.googleapis.com/css2?family=Allura&family=Charm:wght@400;700&family=Cookie&family=Marck+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0 5px;
    padding: 0;
    box-sizing: border-box;
    /*color: #4b1f34;*/
}

body {
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f93f4a;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url(./assets/fondo.gif);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vh;
}

.primerTexto{
    font-family: "Bowlby One", sans-serif;
}

.invitacion{
    /*display: none;*/
    flex-direction: column;
}

.agradecimientos{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40vh;
    text-align: justify;
    font-family: var(--fuenteTres);
}

.xv{
    flex: 1;
    width: 350px;
    z-index: 10;
}

.graduacion{
    flex: 1;
    width: 350px;
}

.mariposas-container {
    position: absolute;
    top: 0; /* Ajusta según lo necesario */
    left: 50%;
    transform: translate(-160%, 20%); /* Centra horizontalmente */
    z-index: 0; /* Asegura que esté encima del texto */
}

.mariposas{
    width: 170px;
    opacity: 25%;
}

.padres{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    color: #4b1f34;
    height: 35vh;
}

.padres h2{
    font-size: 40px;
    font-family: var(--fuenteUno)
}

.padres h4{
    font-size: 32px;
    font-family: var(--fuenteTres);
}

.padres p{
    font-size: 30px;
    font-family: var(--fuenteTres)
}

.titulo{
    margin-top: 3rem;
    color: #42192d;
}

.mariposa-container {
    position: absolute;
    top: 0; /* Ajusta según lo necesario */
    left: 50%;
    transform: translate(5%, 14%); /* Centra horizontalmente */
    z-index: 10; /* Asegura que esté encima del texto */
}

.mariposa {
    width: 120px; /* Ajusta el tamaño de la mariposa */
    height: auto;
    opacity: 90%;
}

.titulo h2{
    font-size: 46px;
    margin-left: -140px;
    font-family: var(--fuenteCuatro);
}

.titulo h1{
    font-size:58px;
    font-family: var(--fuenteUno);
    
}

.titulo h3{
    font-size: 46px;
    margin-left: -120px;
    font-family: var(--fuenteCuatro);
}

.titulo p{
    font-family: var(--fuenteTres);
    font-size: 22px;
}

.detalles{
    margin-top: 30px;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.mariposasfinal-container {
    position: absolute;
    left: -10%;
    top: 100%; /* Ajusta según lo necesario */
    z-index: 0; /* Asegura que esté encima del texto */
}

.mariposasfinal {
    opacity: 30%;
    width: 400px; /* Ajusta el tamaño de la mariposa */
    height: auto;
}

.detalles h2{
    font-size: 28px;
    font-family: var(--fuenteCuatro);
    z-index: 1;
}

.detalles h1{
    font-family: var(--fuenteTres);
    font-size: 32px;
    z-index: 1;
}

.detalles h3{
    font-family: var(--fuenteUno);
    font-size: 36px;
    z-index: 1;
}

/* General container styling */
.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: var(--fuenteCinco);
    font-size: 1.5rem;
    font-weight: bold;
    color: #4b1f34;
    background: var(--colorCuatro);
    padding: 0px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 360px;
    z-index: 1;
}

/* Styling for each unit (days, hours, minutes, seconds) */
.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    min-width: 40px;
    z-index: 1;
}

/* Unit value */
.countdown-item span {
    font-family: var(--fuenteCuatro);
    font-size: 1.8rem;
    font-weight: bold;
    z-index: 1;
}

/* Unit label */
.countdown-item small {
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 5px;
    color: #fff;
    z-index: 1;
    font-family: var(--fuenteTres);
}


button {
    background-color: #4b1f34;
    font-family: var(--fuenteTres);
    color: var(--colorSeis);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    z-index: 10;
}

:root{
    --fuenteUno: "Allura", cursive;
    --fuenteDos: "Marck Script", cursive;
    --fuenteTres: "Montserrat", sans-serif;
    --fuenteCuatro: "Charm", cursive;
    --fuenteCinco: "Cookie", cursive;
    --colorUno: #f564a9;
    --colorDos: #533b4d;
    --colorTres: #c1aba6;
    --colorCuatro: #faa4bd;
    --colorCinco: #fae3c6;
    --colorSeis: #fff;
}