@import url('https://fonts.googleapis.com/css2?family=Allura&family=Charm:wght@400;700&family=Cookie&family=Marck+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f93f4a;
}

.agradecimientos, .padres, .titulo, .detalles{
    z-index: 10;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.primerTexto{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%; /* Posición en el centro vertical */
    left: 50%; /* Posición en el centro horizontal */
    transform: translate(-50%, -50%); /* Ajuste perfecto al centro */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("./assets/mariposas.gif") no-repeat center center fixed ;
    background-size: cover;

}

.primerTexto h1 {
    font-size: 200%;
    font-family: var(--fuenteTres);
    color: #42192d;
}

.primerTexto p {
    font-size: 230%;
    font-family: var(--fuenteCuatro);
    margin: 10px 0;
}

.primerTexto button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #533b4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.invitacion{
    display: none;
    flex-direction: column;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url(./assets/fondo.gif);
}

.agradecimientos{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: var(--fuenteTres);
}

.xv{
    flex: 1;
    width: 80%;
    z-index: 10;
}

.graduacion{
    flex: 1;
    width: 80%;
}

.mariposas-container {
    position: absolute;
    top: 0; /* Ajusta según lo necesario */
    left: 50%;
    transform: translate(-160%, 20%); /* Centra horizontalmente */
    z-index: 0; /* Asegura que esté encima del texto */
}

.mariposas{
    width: 170px;
    opacity: 25%;
}

.padres{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4b1f34;
}

.padres h2{
    width: 90%;
    font-size: 40px;
    font-family: var(--fuenteUno)
}

.padres h4{
    width: 90%;
    font-size: 32px;
    font-family: var(--fuenteTres);
}

.padres p{
    width: 90%;
    font-size: 30px;
    font-family: var(--fuenteTres)
}

.titulo{
    color: #42192d;
}

.mariposa-container {
    position: absolute;
    top: 0; /* Ajusta según lo necesario */
    left: 50%;
    transform: translate(5%, 14%); /* Centra horizontalmente */
    z-index: 10; /* Asegura que esté encima del texto */
}

.mariposa {
    width: 120px; /* Ajusta el tamaño de la mariposa */
    height: auto;
    opacity: 90%;
}

#dani{
    margin-top: 20%;
}

#luis{
    margin-top: 5%;
    margin-bottom: 10%;
}

.titulo h2{
    font-size: 46px;
    margin-left: -20%;
    font-family: var(--fuenteCuatro);
}

.titulo h1{
    font-size:58px;
    font-family: var(--fuenteUno);
    
}

.titulo h3{
    font-size: 46px;
    margin-left: -15%;
    font-family: var(--fuenteCuatro);
}

.titulo p{
    font-family: var(--fuenteTres);
    font-size: 22px;
}

.detalles {
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    justify-content: center; /* Centra en el eje vertical */
    align-items: center; /* Centra en el eje horizontal */
    text-align: center; /* Alinea texto centrado dentro de los elementos */
}


#decoracion{
    width: 95%;
}

.mariposasfinal-container {
    position: absolute;
    left: -10%;
    top: 100%; /* Ajusta según lo necesario */
    z-index: 0; /* Asegura que esté encima del texto */
}

.mariposasfinal {
    opacity: 30%;
    width: 100%; /* Ajusta el tamaño de la mariposa */
    height: auto;
}

.detalles h2{
    font-size: 28px;
    font-family: var(--fuenteCuatro);
    z-index: 1;
    margin-bottom: 10%;
}

.detalles h1{
    font-family: var(--fuenteTres);
    font-size: 32px;
    z-index: 1;
    margin-bottom: 10%;
}

.detalles h3{
    font-family: var(--fuenteUno);
    font-size: 36px;
    z-index: 1;
    margin-bottom: 10%;
}

/* General container styling */
.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuenteCinco);
    font-size: 1.5rem;
    font-weight: bold;
    color: #4b1f34;
    background: var(--colorCuatro);
    padding: 0px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 330px;
    min-width: 300px;
    z-index: 1;
    margin-bottom: 10%;
}

/* Styling for each unit (days, hours, minutes, seconds) */
.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    min-width: 40px;
    z-index: 1;
}

/* Unit value */
.countdown-item span {
    font-family: var(--fuenteCuatro);
    font-size: 1.8rem;
    font-weight: bold;
    z-index: 1;
}

/* Unit label */
.countdown-item small {
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 5px;
    color: #fff;
    z-index: 1;
    font-family: var(--fuenteTres);
}


button {
    background-color: #4b1f34;
    font-family: var(--fuenteTres);
    color: var(--colorSeis);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    z-index: 10;
    margin-bottom: 10%;
}

:root{
    --fuenteUno: "Allura", cursive;
    --fuenteDos: "Marck Script", cursive;
    --fuenteTres: "Montserrat", sans-serif;
    --fuenteCuatro: "Charm", cursive;
    --fuenteCinco: "Cookie", cursive;
    --colorUno: #f564a9;
    --colorDos: #533b4d;
    --colorTres: #c1aba6;
    --colorCuatro: #faa4bd;
    --colorCinco: #fae3c6;
    --colorSeis: #fff;
}

@keyframes flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.flash-animation {
    animation: flash 0.5s ease-in-out;
}